<a href="https://colab.research.google.com/github/arulbenjaminchandru/Python-and-Gen-AI/blob/main/Gen_AI_Class_4_and_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Class 4**

## **Introduction to Lists in Python**

Lists are one of the most versatile data structures in Python. They allow you to store multiple items in a single variable. Lists can hold items of different data types, and they are ordered and changeable (mutable).

### **1. Creating Lists**

- A list is created by placing all the items (elements) inside square brackets `[]`, separated by commas.

**Examples:**

```python
# List of integers
numbers = [1, 2, 3, 4, 5]

# List of strings
fruits = ["apple", "banana", "cherry"]

# Mixed data types
mixed_list = [1, "hello", 3.14, True]

# Empty list
empty_list = []
```

In [ ]:
# single item
number = 10
print(type(number))
print("number : ", number)


# List of integers
numbers = [1, 2, 3, 4, 5]

print(type(numbers))
print("numbers : ", numbers)


# List of strings
fruits = ["apple", "banana", "cherry"]

# Mixed data types
mixed_list = [1, "hello", 3.14, True,1,"hello",3.14,False,"Arul"]
print("Length of the list",len(mixed_list))
print("Last Index", len(mixed_list)-1)
print(mixed_list[0]) # 1
print(mixed_list[1]) # hello
print(mixed_list[2]) # 3.14
print(mixed_list[3]) # True
print(mixed_list[8]) # Arul

# access the last index using -1
print("Count from reverse")
print(mixed_list[-1])
print(mixed_list[-2])
print(mixed_list[-3])
print(mixed_list[-4])
print(mixed_list[-5])

# Empty list
empty_list = []
print(empty_list[0])

<class 'int'>
number :  10
<class 'list'>
numbers :  [1, 2, 3, 4, 5]
Length of the list 9
Last Index 8
1
hello
3.14
True
Arul
Count from reverse
Arul
False
3.14
hello
1

IndexError: list index out of range

### **2. Indexing in Lists**

- Each item in a list has an index, which is a number that denotes the position of the item in the list. Python uses zero-based indexing, meaning the first element has an index of 0.

**Examples:**

```python
fruits = ["apple", "banana", "cherry"]

# Accessing elements by index
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[2])  # Output: cherry

# Negative indexing
print(fruits[-1])  # Output: cherry (last item)
print(fruits[-2])  # Output: banana (second-to-last item)
```

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Accessing elements by index
print(fruits[0])  # Output: apple
print(fruits[1])  # Output: banana
print(fruits[2])  # Output: cherry

# Negative indexing
print(fruits[-1])  # Output: cherry (last item)
print(fruits[-2])  # Output: banana (second-to-last item)

apple
banana
cherry
cherry
banana

### **3. Slicing Lists**

- Slicing allows you to access a range of elements from a list. The syntax for slicing is `list[start:end]`, where `start` is the index to begin the slice (inclusive) and `end` is the index to end the slice (exclusive).

**Examples:**

```python
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# Slicing a list
print(numbers[2:5])  # Output: [2, 3, 4] (from index 2 to 4)

# Omitting start or end
print(numbers[:3])   # Output: [0, 1, 2] (from start to index 2)
print(numbers[5:])   # Output: [5, 6, 7, 8, 9] (from index 5 to the end)

# Slicing with a step
print(numbers[::2])  # Output: [0, 2, 4, 6, 8] (every second element)
```

In [ ]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print("Numbers List : ",numbers)
print("Length of numbers list : ",len(numbers))

# Slicing a list
print(numbers[2:5])  # Output: [2, 3, 4] (from index 2 to 4)

# Omitting start or end
print(numbers[:3])   # Output: [0, 1, 2] (from start to index 2)
print(numbers[5:])   # Output: [5, 6, 7, 8, 9] (from index 5 to the end)

# Slicing with a step
print(numbers[::2])  # Output: [0, 2, 4, 6, 8] (every second element)

Numbers List :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
Length of numbers list :  10
[2, 3, 4]
[0, 1, 2]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

### **4. Modifying Lists**

- Lists are mutable, which means you can change their content after creation.

**Examples:**

```python
fruits = ["apple", "banana", "cherry"]

# Changing an item
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

# Adding an item
fruits.append("orange")
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'orange']

# Removing an item
fruits.remove("cherry")
print(fruits)  # Output: ['apple', 'blueberry', 'orange']
```

In [ ]:
fruits = ["apple", "banana", "cherry"]

# Changing an item
fruits[1] = "blueberry"
print(fruits)  # Output: ['apple', 'blueberry', 'cherry']

# Adding an item
fruits.append("orange")
print(fruits)  # Output: ['apple', 'blueberry', 'cherry', 'orange']

# Removing an item
fruits.remove("cherry")
print(fruits)  # Output: ['apple', 'blueberry', 'orange']

['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'orange']
['apple', 'blueberry', 'orange']

### **5. Common List Operations**

- **Length of a list:** You can find out how many items are in a list using the `len()` function.

```python
fruits = ["apple", "banana", "cherry"]
print(len(fruits))  # Output: 3
```

- **Check if an item exists:** Use the `in` keyword to check if an item is in the list.

```python
print("banana" in fruits)  # Output: True
```

- **Concatenating lists:** You can concatenate two or more lists using the `+` operator.

```python
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))  # Output: 3

print("banana" in fruits)  # Output: True

print("orange" in fruits) # false

list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # Output: [1, 2, 3, 4, 5, 6]

3
True
False
[1, 2, 3, 4, 5, 6]

## **Basic List Methods in Python**

Python provides several built-in methods to work with lists. These methods allow you to modify lists, add or remove elements, and perform other common operations.

### **1. `append()` Method**

- The `append()` method adds an element to the end of the list.

**Syntax:**

```python
list_name.append(element)
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)  # Output: ['apple', 'banana', 'cherry', 'orange']

['apple', 'banana', 'cherry', 'orange']

### **2. `insert()` Method**

- The `insert()` method adds an element at a specified position in the list.

**Syntax:**

```python
list_name.insert(index, element)
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "blueberry")
print(fruits)  # Output: ['apple', 'blueberry', 'banana', 'cherry']
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "blueberry")
print(fruits)  # Output: ['apple', 'blueberry', 'banana', 'cherry']

['apple', 'blueberry', 'banana', 'cherry']

### **3. `remove()` Method**

- The `remove()` method removes the first occurrence of a specified element from the list.

**Syntax:**

```python
list_name.remove(element)
```

**Example:**

```python
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'banana']
```

In [ ]:
fruits = ["apple", "banana", "cherry", "banana"]
fruits.remove("banana")
print(fruits)  # Output: ['apple', 'cherry', 'banana']

['apple', 'cherry', 'banana']

### **4. `pop()` Method**

- The `pop()` method removes and returns the element at the specified index. If no index is specified, it removes and returns the last item in the list.

**Syntax:**

```python
list_name.pop(index)
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
last_fruit = fruits.pop()
print(last_fruit)  # Output: cherry
print(fruits)      # Output: ['apple', 'banana']
```

In [14]:
fruits = ["apple", "banana", "cherry"]
last_fruit = fruits.pop()
print(last_fruit)  # Output: cherry
print(fruits)      # Output: ['apple', 'banana']
fruits.pop(1)
print(fruits)

cherry
['apple', 'banana']
['apple']

### **5. `clear()` Method**

- The `clear()` method removes all elements from the list, leaving it empty.

**Syntax:**

```python
list_name.clear()
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)  # Output: []
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()
print(fruits)  # Output: []

[]

### **6. `index()` Method**

- The `index()` method returns the index of the first occurrence of a specified element in the list.

**Syntax:**

```python
list_name.index(element)
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
index_of_banana = fruits.index("banana")
print(index_of_banana)  # Output: 1
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
index_of_banana = fruits.index("banana")
print(index_of_banana)  # Output: 1

1

### **7. `count()` Method**

- The `count()` method returns the number of times a specified element appears in the list.

**Syntax:**

```python
list_name.count(element)
```

**Example:**

```python
fruits = ["apple", "banana", "cherry", "banana"]
count_banana = fruits.count("banana")
print(count_banana)  # Output: 2
```

In [ ]:
fruits = ["apple", "banana", "cherry", "banana"]
count_banana = fruits.count("banana")
print(count_banana)  # Output: 2

2

### **8. `sort()` Method**

- The `sort()` method sorts the elements of the list in ascending order by default. You can also sort in descending order by specifying `reverse=True`.

**Syntax:**

```python
list_name.sort()
list_name.sort(reverse=True)  # For descending order
```

**Example:**

```python
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)  # Output: [1, 1, 3, 4, 5, 9]

numbers.sort(reverse=True)
print(numbers)  # Output: [9, 5, 4, 3, 1, 1]
```

In [ ]:
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(numbers)  # Output: [1, 1, 3, 4, 5, 9]

numbers.sort(reverse=True)
print(numbers)  # Output: [9, 5, 4, 3, 1, 1]

[1, 1, 3, 4, 5, 9]
[9, 5, 4, 3, 1, 1]

### **9. `reverse()` Method**

- The `reverse()` method reverses the order of the elements in the list.

**Syntax:**

```python
list_name.reverse()
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)  # Output: ['cherry', 'banana', 'apple']
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.reverse()
print(fruits)  # Output: ['cherry', 'banana', 'apple']

print(fruits[::-1]) # used for reverse

['cherry', 'banana', 'apple']
['apple', 'banana', 'cherry']

### **10. `copy()` Method**

- The `copy()` method returns a shallow copy of the list. This is useful if you want to create a new list with the same elements but independent of the original list.

**Syntax:**

```python
new_list = list_name.copy()
```

**Example:**

```python
fruits = ["apple", "banana", "cherry"]
fruits_copy = fruits.copy()
print(fruits_copy)  # Output: ['apple', 'banana', 'cherry']
```

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits_copy = fruits.copy()
print(fruits_copy)  # Output: ['apple', 'banana', 'cherry']

fruits.insert(1,"orange")

print("Fruits List :", fruits)
print("Fruits Copy List : ", fruits_copy)

copied_fruits = fruits  # Referencing
print("Copied Fruits : ",copied_fruits)
fruits.append("mango")

print("Copied Fruits : ",copied_fruits)
print("Fruits List :", fruits)

['apple', 'banana', 'cherry']
Fruits List : ['apple', 'orange', 'banana', 'cherry']
Fruits Copy List :  ['apple', 'banana', 'cherry']
Copied Fruits :  ['apple', 'orange', 'banana', 'cherry']
Copied Fruits :  ['apple', 'orange', 'banana', 'cherry', 'mango']
Fruits List : ['apple', 'orange', 'banana', 'cherry', 'mango']

# **Class 5**

## **`for` Loops**

- The `for` loop is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) or a range of numbers.

**Syntax:**

```python
for item in sequence:
    # Code to be executed
```

**Example: Iterating Over a List**

```python
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)
```

**Explanation:**
- This loop iterates over the `fruits` list and prints each fruit in the list.

**Output:**

```
apple
banana
cherry
```

**Example: Using `range()` in a `for` Loop**

```python
for i in range(1, 6):
    print("Iteration", i)
```

**Explanation:**
- This loop uses the `range()` function to generate numbers from 1 to 5. It prints "Iteration" followed by the value of `i` for each iteration.

**Output:**

```
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5
```

In [1]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

for i in range(1, 6):
    print("Iteration", i)

apple
banana
cherry
Iteration 1
Iteration 2
Iteration 3
Iteration 4
Iteration 5

### **1. Using Loops for Repetitive Tasks**

Loops are particularly useful for performing repetitive tasks, such as processing each item in a list, generating a series of numbers, or performing an action multiple times.

**Example: Summing Numbers**

```python
total = 0
for number in range(1, 11):
    total += number
print("The sum is:", total)
```

**Explanation:**
- This loop calculates the sum of numbers from 1 to 10 and prints the result.

**Output:**

```
The sum is: 55
```

**Example: Counting Down with a `while` Loop**

```python
countdown = 5
while countdown > 0:
    print("Counting down:", countdown)
    countdown -= 1
print("Blast off!")
```

**Explanation:**
- This loop counts down from 5 to 1, then prints "Blast off!" when the countdown is complete.

**Output:**

```
Counting down: 5
Counting down: 4
Counting down: 3
Counting down: 2
Counting down: 1
Blast off!
```

In [7]:
total = 0
for number in range(1, 11):
    total += number
    print("Inside Loop - The sum is:", total)
print("Outside Loop - The sum is:", total)

countdown = 5
while countdown > 0:
    print("Counting down:", countdown)
    countdown -= 1
print("Blast off!")

Inside Loop - The sum is: 1
Inside Loop - The sum is: 3
Inside Loop - The sum is: 6
Inside Loop - The sum is: 10
Inside Loop - The sum is: 15
Inside Loop - The sum is: 21
Inside Loop - The sum is: 28
Inside Loop - The sum is: 36
Inside Loop - The sum is: 45
Inside Loop - The sum is: 55
Outside Loop - The sum is: 55
Counting down: 5
Counting down: 4
Counting down: 3
Counting down: 2
Counting down: 1
Blast off!

In [2]:
# Mixed data types
mixed_list = [1, "hello", 3.14, True,1,"hello",3.14,False,"Arul"]
print("Mixed List",mixed_list)
print("Length of the list",len(mixed_list))
print("Last Index", len(mixed_list)-1)
print(mixed_list[0]) # 1
print(mixed_list[1]) # hello
print(mixed_list[2]) # 3.14
print(mixed_list[3]) # True
print(mixed_list[8]) # Arul

i=0
for item in mixed_list:
  print("Item ",i," in the list : ",item)
  i = i+1
  if item == 3.14:
    print("Found 3.14")
    break

print("I am out of loop")

i = 0

while i >= 0:
  i = i + 1
  print(i)
  if i == 10:
    break

Mixed List [1, 'hello', 3.14, True, 1, 'hello', 3.14, False, 'Arul']
Length of the list 9
Last Index 8
1
hello
3.14
True
Arul
Item  0  in the list :  1
Item  1  in the list :  hello
Item  2  in the list :  3.14
Found 3.14
I am out of loop
1
2
3
4
5
6
7
8
9
10

### **2. Breaking Out of Loops**

- Sometimes, you might want to exit a loop early. You can do this using the `break` statement.

**Example:**

```python
for i in range(1, 11):
    if i == 5:
        break
    print(i)
```

**Explanation:**
- This loop prints numbers from 1 to 4. When `i` equals 5, the `break` statement exits the loop.

**Output:**

```
1
2
3
4
```

In [ ]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)

1
2
3
4

## **Set Methods in Python**

Sets in Python are collections of unique and unordered elements. They are useful for storing items where duplicates are not allowed and for performing various operations like union, intersection, and difference. Python provides several built-in methods to work with sets.

### **1. `add()` Method**

- The `add()` method adds a single element to the set. If the element already exists in the set, it does nothing.

**Syntax:**

```python
set_name.add(element)
```

**Example:**

```python
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)  # Output: {'orange', 'banana', 'apple', 'cherry'}
```

In [7]:
fruits = {"apple", "banana", "cherry","apple"}
print("Fruits Set : ",fruits)
fruits_list = ["apple","banana","mango","apple"]
print("Fruits list : ",fruits_list)
fruits.add("orange")
print(fruits)  # Output: {'orange', 'banana', 'apple', 'cherry'}

Fruits Set :  {'cherry', 'banana', 'apple'}
Fruits list :  ['apple', 'banana', 'mango', 'apple']
{'cherry', 'banana', 'orange', 'apple'}

### **2. `update()` Method**

- The `update()` method adds multiple elements to the set. You can pass a list, tuple, set, or any iterable as an argument.

**Syntax:**

```python
set_name.update(iterable)
```

**Example:**

```python
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "grape"]
fruits.update(more_fruits)
print(fruits)  # Output: {'apple', 'orange', 'banana', 'grape', 'cherry'}
```

In [ ]:
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "grape"]
fruits.update(more_fruits)
print(fruits)  # Output: {'apple', 'orange', 'banana', 'grape', 'cherry'}

{'apple', 'grape', 'orange', 'banana', 'cherry'}

### **3. `remove()` Method**

- The `remove()` method removes a specified element from the set. If the element is not found, it raises a `KeyError`.

**Syntax:**

```python
set_name.remove(element)
```

**Example:**

```python
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)  # Output: {'apple', 'cherry'}
```

In [12]:
fruits = {"apple", "banana", "cherry"}
fruits.remove("banana")
print(fruits)  # Output: {'apple', 'cherry'}

fruits.remove("mango")
print(fruits)

{'cherry', 'apple'}

KeyError: 'mango'

### **4. `discard()` Method**

- The `discard()` method removes a specified element from the set. If the element is not found, it does nothing (no error is raised).

**Syntax:**

```python
set_name.discard(element)
```

**Example:**

```python
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits.discard("mango")  # No error, even though "mango" is not in the set
print(fruits)  # Output: {'apple', 'cherry'}
```

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
fruits.discard("mango")  # No error, even though "mango" is not in the set
print(fruits)  # Output: {'apple', 'cherry'}

{'apple', 'cherry'}

### **5. `pop()` Method**

- The `pop()` method removes and returns a random element from the set. Since sets are unordered, you don't know which element will be removed. If the set is empty, it raises a `KeyError`.

**Syntax:**

```python
set_name.pop()
```

**Example:**

```python
fruits = {"apple", "banana", "cherry"}
removed_fruit = fruits.pop()
print(removed_fruit)  # Output: Random element (e.g., 'apple')
print(fruits)         # Output: Remaining elements
```

In [ ]:
fruits = {"apple", "banana", "cherry"}
removed_fruit = fruits.pop()
print(removed_fruit)  # Output: Random element (e.g., 'apple')
print(fruits)         # Output: Remaining elements

banana
{'apple', 'cherry'}

### **6. `clear()` Method**

- The `clear()` method removes all elements from the set, leaving it empty.

**Syntax:**

```python
set_name.clear()
```

**Example:**

```python
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)  # Output: set()
```

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)  # Output: set()

set()

### **7. `union()` Method**

- The `union()` method returns a new set containing all elements from the original set and all elements from the specified sets. It can take multiple sets or iterables as arguments.

**Syntax:**

```python
set_name.union(other_set, ...)
```

**Example:**

```python
set1 = {"apple", "banana"}
set2 = {"cherry", "banana"}
combined_set = set1.union(set2)
print(combined_set)  # Output: {'apple', 'cherry', 'banana'}
```

In [15]:
set1 = {"apple", "banana"}
set2 = {"cherry", "banana"}
combined_set = set1.union(set2)
print(combined_set)  # Output: {'apple', 'cherry', 'banana'}

{'cherry', 'banana', 'apple'}

### **8. `intersection()` Method**

- The `intersection()` method returns a new set containing only the elements that are present in both (or all) sets.

**Syntax:**

```python
set_name.intersection(other_set, ...)
```

**Example:**

```python
set1 = {"apple", "banana", "cherry"}
set2 = {"banana", "cherry", "orange"}
common_set = set1.intersection(set2)
print(common_set)  # Output: {'banana', 'cherry'}
```

In [18]:
set1 = {"apple", "banana", "cherry",1}
set2 = {"banana", "cherry", "orange",1}
common_set = set1.intersection(set2)
print(common_set)  # Output: {'banana', 'cherry'}

{'cherry', 'banana', 1}

### **9. `difference()` Method**

- The `difference()` method returns a new set containing elements that are in the original set but not in the specified sets.

**Syntax:**

```python
set_name.difference(other_set, ...)
```

**Example:**

```python
set1 = {"apple", "banana", "cherry"}
set2 = {"banana", "cherry", "orange"}
diff_set = set1.difference(set2)
print(diff_set)  # Output: {'apple'}
```

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"banana", "cherry", "orange"}
diff_set = set1.difference(set2)
print(diff_set)  # Output: {'apple'}

{'apple'}

### **10. `issubset()` Method**

- The `issubset()` method returns `True` if all elements of the original set are present in the specified set, otherwise `False`.

**Syntax:**

```python
set_name.issubset(other_set)
```

**Example:**

```python
set1 = {"apple", "banana"}
set2 = {"apple", "banana", "cherry"}
is_subset = set1.issubset(set2)
print(is_subset)  # Output: True
```

In [19]:
set1 = {"apple", "banana"}
set2 = {"apple", "banana", "cherry"}
is_subset = set1.issubset(set2)
print(is_subset)  # Output: True

True

### **11. `issuperset()` Method**

- The `issuperset()` method returns `True` if the original set contains all elements of the specified set, otherwise `False`.

**Syntax:**

```python
set_name.issuperset(other_set)
```

**Example:**

```python
set1 = {"apple", "banana", "cherry"}
set2 = {"apple", "banana"}
is_superset = set1.issuperset(set2)
print(is_superset)  # Output: True
```

In [20]:
set1 = {"apple", "banana", "cherry"}
set2 = {"apple", "banana"}
is_superset = set1.issuperset(set2)
print(is_superset)  # Output: True

True

### **12. `symmetric_difference()` Method**

- The `symmetric_difference()` method returns a new set containing elements that are in either of the sets but not in both.

**Syntax:**

```python
set_name.symmetric_difference(other_set)
```

**Example:**

```python
set1 = {"apple", "banana", "cherry"}
set2 = {"banana", "cherry", "orange"}
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {'apple', 'orange'}
```

In [21]:
set1 = {"apple", "banana", "cherry"}
set2 = {"banana", "cherry", "orange"}
sym_diff_set = set1.symmetric_difference(set2)
print(sym_diff_set)  # Output: {'apple', 'orange'}

{'orange', 'apple'}

## **Introduction to Dictionaries in Python**

Dictionaries in Python are a collection of key-value pairs. Each key is unique, and it maps to a specific value. Dictionaries are unordered, changeable, and indexed by keys.

### **1. Creating Dictionaries**

- A dictionary is created by placing a comma-separated sequence of key-value pairs within curly braces `{}`. The key and value are separated by a colon `:`.

**Syntax:**

```python
dictionary_name = {
    "key1": "value1",
    "key2": "value2",
    "key3": "value3"
}
```

**Example:**

```python
# Example of a dictionary with strings as keys and values
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Example of a dictionary with mixed data types
student = {
    "name": "Alice",
    "age": 22,
    "is_graduated": True,
    "grades": [85, 90, 92]
}

# Example of an empty dictionary
empty_dict = {}
```

In [ ]:
# Example of a dictionary with strings as keys and values
person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

# Example of a dictionary with mixed data types
student = {
    "name": "Alice",
    "age": 22,
    "is_graduated": True,
    "grades": [85, 90, 92]
}

# Example of an empty dictionary
empty_dict = {}

### **2. Accessing Values in a Dictionary**

- You can access the value associated with a specific key by using the key inside square brackets `[]`.
- Alternatively, you can use the `get()` method, which is safer because it returns `None` (or a default value you specify) if the key does not exist.

**Syntax:**

```python
value = dictionary_name["key"]
```

**Example:**

```python
# Accessing values using keys
name = person["name"]
print(name)  # Output: John

# Accessing values using the get() method
age = person.get("age")
print(age)  # Output: 30

# Using get() with a default value
middle_name = person.get("middle_name", "No middle name")
print(middle_name)  # Output: No middle name
```

In [ ]:
# Accessing values using keys
name = person["name"]
print(name)  # Output: John

# Accessing values using the get() method
age = person.get("age")
print(age)  # Output: 30

# Using get() with a default value
middle_name = person.get("middle_name", "No middle name")
print(middle_name)  # Output: No middle name

John
30
No middle name

### **3. Modifying Values in a Dictionary**

- You can modify an existing value by referencing its key and assigning a new value.

**Example:**

```python
person["age"] = 31
print(person["age"])  # Output: 31
```

In [ ]:
person["age"] = 31
print(person["age"])  # Output: 31

31

### **4. Adding New Key-Value Pairs**

- To add a new key-value pair to a dictionary, simply assign a value to a new key.

**Example:**

```python
person["email"] = "john@example.com"
print(person)  
# Output: {'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}
```

In [ ]:
person["email"] = "john@example.com"
print(person)
# Output: {'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}

{'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}

### **5. Removing Key-Value Pairs**

- You can remove a key-value pair using the `del` keyword or the `pop()` method.

**Example:**

```python
# Using del
del person["city"]
print(person)  # Output: {'name': 'John', 'age': 31, 'email': 'john@example.com'}

# Using pop()
email = person.pop("email")
print(email)   # Output: john@example.com
print(person)  # Output: {'name': 'John', 'age': 31}
```

In [ ]:
# Using del
del person["city"]
print(person)  # Output: {'name': 'John', 'age': 31, 'email': 'john@example.com'}

# Using pop()
email = person.pop("email")
print(email)   # Output: john@example.com
print(person)  # Output: {'name': 'John', 'age': 31}

{'name': 'John', 'age': 31, 'email': 'john@example.com'}
john@example.com
{'name': 'John', 'age': 31}

### **6. Checking if a Key Exists**

- You can check if a key exists in a dictionary using the `in` keyword.

**Example:**

```python
if "name" in person:
    print("Name exists in the dictionary")

if "middle_name" not in person:
    print("Middle name does not exist in the dictionary")
```

In [ ]:
if "name" in person:
    print("Name exists in the dictionary")

if "middle_name" not in person:
    print("Middle name does not exist in the dictionary")

Name exists in the dictionary
Middle name does not exist in the dictionary

### **7. Dictionary Length**

- You can find the number of key-value pairs in a dictionary using the `len()` function.

**Example:**

```python
print(len(person))  # Output: 2 (because 'name' and 'age' are the only keys left)
```

In [ ]:
print(len(person))  # Output: 2 (because 'name' and 'age' are the only keys left)

2

## **Basic Dictionary Methods in Python**

Dictionaries in Python come with several built-in methods that allow you to manipulate key-value pairs efficiently. Below are some of the most commonly used dictionary methods.

### **1. `keys()` Method**

- The `keys()` method returns a view object that displays a list of all the keys in the dictionary.

**Syntax:**

```python
dictionary_name.keys()
```

**Example:**

```python
person = {"name": "John", "age": 30, "city": "New York"}
keys = person.keys()
print(keys)  # Output: dict_keys(['name', 'age', 'city'])
```

In [ ]:
person = {"name": "John", "age": 30, "city": "New York"}
keys = person.keys()
print(keys)  # Output: dict_keys(['name', 'age', 'city'])

dict_keys(['name', 'age', 'city'])

### **2. `values()` Method**

- The `values()` method returns a view object that displays a list of all the values in the dictionary.

**Syntax:**

```python
dictionary_name.values()
```

**Example:**

```python
values = person.values()
print(values)  # Output: dict_values(['John', 30, 'New York'])
```

In [ ]:
values = person.values()
print(values)  # Output: dict_values(['John', 30, 'New York'])

dict_values(['John', 30, 'New York'])

### **3. `items()` Method**

- The `items()` method returns a view object that displays a list of tuples, with each tuple containing a key-value pair.

**Syntax:**

```python
dictionary_name.items()
```

**Example:**

```python
items = person.items()
print(items)  # Output: dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])
```

In [ ]:
items = person.items()
print(items)  # Output: dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

dict_items([('name', 'John'), ('age', 30), ('city', 'New York')])

### **4. `update()` Method**

- The `update()` method updates the dictionary with elements from another dictionary or from an iterable of key-value pairs. If a key already exists in the dictionary, its value is updated; otherwise, a new key-value pair is added.

**Syntax:**

```python
dictionary_name.update(other_dictionary)
```

**Example:**

```python
additional_info = {"email": "john@example.com", "age": 31}
person.update(additional_info)
print(person)  
# Output: {'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}
```

In [ ]:
additional_info = {"email": "john@example.com", "age": 31}
person.update(additional_info)
print(person)
# Output: {'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}

{'name': 'John', 'age': 31, 'city': 'New York', 'email': 'john@example.com'}

### **5. `pop()` Method**

- The `pop()` method removes the specified key and returns the corresponding value. If the key is not found, a `KeyError` is raised unless a default value is provided.

**Syntax:**

```python
dictionary_name.pop(key, default_value)
```

**Example:**

```python
age = person.pop("age")
print(age)  # Output: 31
print(person)  # Output: {'name': 'John', 'city': 'New York', 'email': 'john@example.com'}

# Using pop with a default value
middle_name = person.pop("middle_name", "No middle name")
print(middle_name)  # Output: No middle name
```

In [ ]:
age = person.pop("age")
print(age)  # Output: 31
print(person)  # Output: {'name': 'John', 'city': 'New York', 'email': 'john@example.com'}

# Using pop with a default value
middle_name = person.pop("middle_name", "No middle name")
print(middle_name)  # Output: No middle name

31
{'name': 'John', 'city': 'New York', 'email': 'john@example.com'}
No middle name

### **6. `popitem()` Method**

- The `popitem()` method removes and returns the last inserted key-value pair as a tuple. This method is particularly useful for dictionaries that maintain insertion order (Python 3.7+).

**Syntax:**

```python
dictionary_name.popitem()
```

**Example:**

```python
last_item = person.popitem()
print(last_item)  # Output: ('email', 'john@example.com')
print(person)     # Output: {'name': 'John', 'city': 'New York'}
```

In [ ]:
last_item = person.popitem()
print(last_item)  # Output: ('email', 'john@example.com')
print(person)     # Output: {'name': 'John', 'city': 'New York'}

('email', 'john@example.com')
{'name': 'John', 'city': 'New York'}

### **7. `get()` Method**

- The `get()` method returns the value for the specified key if the key is in the dictionary. If the key is not found, it returns `None` (or a specified default value).

**Syntax:**

```python
dictionary_name.get(key, default_value)
```

**Example:**

```python
city = person.get("city")
print(city)  # Output: New York

middle_name = person.get("middle_name", "No middle name")
print(middle_name)  # Output: No middle name
```

In [ ]:
city = person.get("city")
print(city)  # Output: New York

middle_name = person.get("middle_name", "No middle name")
print(middle_name)  # Output: No middle name

New York
No middle name

### **8. `clear()` Method**

- The `clear()` method removes all the key-value pairs from the dictionary, leaving it empty.

**Syntax:**

```python
dictionary_name.clear()
```

**Example:**

```python
person.clear()
print(person)  # Output: {}
```

In [ ]:
person.clear()
print(person)  # Output: {}

{}

### **9. `copy()` Method**

- The `copy()` method returns a shallow copy of the dictionary. This is useful if you want to work with a duplicate dictionary without affecting the original.

**Syntax:**

```python
new_dict = dictionary_name.copy()
```

**Example:**

```python
person = {"name": "John", "age": 31, "city": "New York"}
person_copy = person.copy()
print(person_copy)  # Output: {'name': 'John', 'age': 31, 'city': 'New York'}
```

In [ ]:
person = {"name": "John", "age": 31, "city": "New York"}
person_copy = person.copy()
print(person_copy)  # Output: {'name': 'John', 'age': 31, 'city': 'New York'}

{'name': 'John', 'age': 31, 'city': 'New York'}

### **10. `fromkeys()` Method**

- The `fromkeys()` method creates a new dictionary with keys from an iterable and assigns a specified value to all keys.

**Syntax:**

```python
new_dict = dict.fromkeys(keys_iterable, value)
```

**Example:**

```python
keys = ["name", "age", "city"]
default_value = "Unknown"
new_dict = dict.fromkeys(keys, default_value)
print(new_dict)  # Output: {'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}
```

In [ ]:
keys = ["name", "age", "city"]
default_value = "Unknown"
new_dict = dict.fromkeys(keys, default_value)
print(new_dict)  # Output: {'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}

{'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}

## **Conclusion**

We've explored three powerful data structures in Python: **Lists**, **Sets**, and **Dictionaries**. Each serves a unique purpose:

- **Lists** are ordered collections that allow duplicate elements and provide versatile methods for manipulation.
- **Sets** are unordered collections of unique elements, ideal for operations like union, intersection, and difference.
- **Dictionaries** store data in key-value pairs, allowing fast access to values based on unique keys.

These structures are fundamental to Python programming, providing the tools necessary to handle various data-related tasks efficiently. As we move forward, understanding these basics will be crucial for more complex programming challenges.

## **Assignments for Lists, Sets, and Dictionaries**

#### **1. Lists**

**Assignment 1:**  
Create a list of your favorite fruits. Perform the following tasks:
- Add a new fruit to the list.
- Remove a fruit from the list.
- Print the list in reverse order.
- Slice the list to print the first three fruits.

**Assignment 2:**  
Given the list `[3, 5, 7, 9, 11, 13, 15]`, perform the following:
- Append `17` to the list.
- Insert `1` at the beginning of the list.
- Remove the number `9` from the list.
- Find the index of the number `13`.

#### **2. Sets**

**Assignment 1:**  
Create a set of numbers from 1 to 5. Perform the following operations:
- Add the number `6` to the set.
- Remove the number `2` from the set.
- Check if the number `3` is in the set.
- Find the union of this set with another set `{4, 5, 6, 7}`.

**Assignment 2:**  
Given two sets `{1, 2, 3, 4, 5}` and `{4, 5, 6, 7, 8}`, find:
- The intersection of the two sets.
- The difference between the first set and the second set.
- The symmetric difference between the two sets.

#### **3. Dictionaries**

**Assignment 1:**  
Create a dictionary that stores the following information about a book:
- Title: "To Kill a Mockingbird"
- Author: "Harper Lee"
- Year Published: 1960
- Genre: "Fiction"

Perform the following:
- Add a key `Pages` with the value `281`.
- Update the `Year Published` to `1961`.
- Remove the `Genre` key from the dictionary.
- Retrieve the value associated with the key `Author`.

**Assignment 2:**  
Given the dictionary `student = {"name": "Alice", "age": 22, "courses": ["Math", "Science"]}`, perform the following:
- Add a new key `graduated` with the value `False`.
- Change the `age` to `23`.
- Add "English" to the list of courses.
- Use the `get()` method to retrieve the value of `name` and a non-existent key `grade` with a default value "N/A".

### **Solutions**

#### **1. Lists**

**Solution 1:**
```python
fruits = ["apple", "banana", "cherry", "date"]
fruits.append("elderberry")
fruits.remove("banana")
print(fruits[::-1])  # Reverse order
print(fruits[:3])    # First three fruits
```

**Solution 2:**
```python
numbers = [3, 5, 7, 9, 11, 13, 15]
numbers.append(17)
numbers.insert(0, 1)
numbers.remove(9)
index_of_13 = numbers.index(13)
print(numbers)        # [1, 3, 5, 7, 11, 13, 15, 17]
print(index_of_13)    # 5
```

#### **2. Sets**

**Solution 1:**
```python
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers.remove(2)
is_3_in_set = 3 in numbers
union_set = numbers.union({4, 5, 6, 7})
print(numbers)         # {1, 3, 4, 5, 6}
print(is_3_in_set)     # True
print(union_set)       # {1, 3, 4, 5, 6, 7}
```

**Solution 2:**
```python
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
intersection = set1.intersection(set2)
difference = set1.difference(set2)
symmetric_difference = set1.symmetric_difference(set2)
print(intersection)           # {4, 5}
print(difference)             # {1, 2, 3}
print(symmetric_difference)   # {1, 2, 3, 6, 7, 8}
```

#### **3. Dictionaries**

**Solution 1:**
```python
book = {
    "title": "To Kill a Mockingbird",
    "author": "Harper Lee",
    "year_published": 1960,
    "genre": "Fiction"
}
book["pages"] = 281
book["year_published"] = 1961
del book["genre"]
author = book.get("author")
print(book)
print(author)  # Output: Harper Lee
```

**Solution 2:**
```python
student = {"name": "Alice", "age": 22, "courses": ["Math", "Science"]}
student["graduated"] = False
student["age"] = 23
student["courses"].append("English")
name = student.get("name")
grade = student.get("grade", "N/A")
print(student)
print(name)  # Output: Alice
print(grade) # Output: N/A
```

In [22]:
# Class doubt

Frutes = ["apple,","Orange","banana","Mango"]
a = len(Frutes)
#print (range(a))

#while range(a) < 4:
#  print(Frutes)

i = 0
while i < a:
  print(Frutes[i])
  i = i + 1

apple,
Orange
banana
Mango